.vscode
.env
.env_test*
dist/
site/
__pycache__/
src/llama_cpp_chat_memory/public/avatars/
src/llama_cpp_chat_memory/test/
src/llama_cpp_chat_memory/run_files/chroma_storage/
src/llama_cpp_chat_memory/run_files/character_storage/
src/llama_cpp_chat_memory/run_files/key_storage/
src/llama_cpp_chat_memory/.chainlit/.langchain.db
src/llama_cpp_chat_memory/.chainlit/config.toml
src/llama_cpp_chat_memory/.chainlit/translations/
src/llama_cpp_chat_memory/run_files/temp/
src/llama_cpp_chat_memory/test.py
src/llama_cpp_chat_memory/document_parsing/test.py
src/llama_cpp_chat_memory/chainlit.md
src/llama_cpp_chat_memory/logs/
src/llama_cpp_chat_memory/.files/