[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.0.350"
chainlit = "==0.7.700"
pillow = "==10.0.1"
pyyaml = "==6.0.1"
chromadb="==0.4.20"
llama-cpp-python = "==0.2.23"
toml = "==0.10.2"
pypdf = "==3.17.1"
textacy = "==0.13.0"
simsimd = "==3.5.5"
sentence-transformers = "==2.2.2"
beautifulsoup4 = "==4.12.2"
playwright = "==1.40.0"

[dev-packages]

[requires]
python_version = "3.11"
