langchain==0.0.350
chainlit==0.7.700
Pillow==10.0.1
PyYAML==6.0.1
toml==0.10.2
chromadb==0.4.20
llama-cpp-python==0.2.23
pypdf==3.17.1
textacy==0.13.0
sentence-transformers==2.2.2
simsimd==3.5.5
beautifulsoup4==4.12.2
playwright==1.40.0